<div class="header-managers-page">
  <%= button_to managers_path, method: :get, class: "btn-home" do %>
    <i class="fa-solid fa-circle-chevron-left"></i>
  <% end %>
  <h1><%= title %></h1>
</div>