.footer-page{
  .footer-content{
    .cnt-foot{
      .describe-info{
        font-size: 25px;
        color: #5d5b5b;
      }
      .info{
        font-size: 20px;
        margin: 1.2rem;
        color: #5d5b5b;
      }
    }
  }
}