.header-order{
  text-align: center;
}

.content-order{
  display: block;
}

.info-order{
  background-color: #e3e3e3;
  border: 1px solid #acacac;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  padding-left: 1rem;
}

.order-dishes{

}

.text-dishes-order{
  font-size: 1.1rem;
}

.btn-order{
  display: flex;
  justify-content: center;
}
