.table-content{
  display: block;
}

.table-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  margin: 2rem ;
  max-width: 1200px;
  width: 50%;
  height: 2rem;
  font-size: 1.2rem;
  padding: 1.2rem;
  background-color: #acb4b8;
}