<footer class="footer-page container">
  <div class="footer-content">
    <div class="cnt-foot">
      <h3 class="describe-info"><i class="fa-solid fa-location-dot"></i> Адреса:</h3>
      <p class="info">пр.Соборний, 250</p>
    </div>
  </div>
  <div class="footer-content">
    <div class="cnt-foot">
      <h3 class="describe-info"><i class="fa-solid fa-phone"></i> Номер телефону:</h3>
      <p class="info">+380950000000</p>
    </div>
  </div>
  <div class="footer-content">
    <div class="cnt-foot">
      <h3 class="describe-info"><i class="fa-solid fa-clock"></i> Час роботи:</h3>
      <p class="info">11:00-22:00 Пн-Вс</p>
    </div>
  </div>
</footer>
