<div class="content">
  <div class="header-pages">
    <div class="header-content">
      <%= button_to dish_and_drinks_path, method: :get, class: "btn-home" do %>
        <i class="fa-solid fa-circle-chevron-left"></i>
      <% end %>
      <h2><%= title %></h2>
    </div>
  </div>
</div>